@import "./normalize.css";

@font-face {
    font-family: "Montserrat Regular";
    src:
        local("Montserrat-Regular"),
        url("../fonts/Montserrat/Montserrat-Regular.ttf") format("truetype");
    font-display: swap;
}

$font-mont: "Montserrat Regular", sans-serif;
$font-sans: sans-serif;

$white: #ffffff;
$black: #111111;

$dark: #1b1a1a;
$variant: #74aa9f;

@mixin text-transition($color: $variant) {
    transition: all 0.35s ease;
    -webkit-transition: all 0.35s ease;
    &:hover {
        color: rgba($color: $color, $alpha: 0.5);
    }
}

@mixin bg-transition($color: $variant) {
    transition: all 0.35s ease;
    -webkit-transition: all 0.35s ease;
    &:hover {
        background-color: rgba($color: $color, $alpha: 0.5);
    }
}

.no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@mixin flex($direction, $row-gap: 0, $col-gap: 0, $justify-content: flex-start, $align-items: flex-start) {
    display: flex;
    flex-direction: $direction;
    row-gap: $row-gap;
    column-gap: $col-gap;
    justify-content: $justify-content;
    align-items: $align-items;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 0;
}

html,
body {
    width: 100%;
    height: 100vh;
    font-family: $font-mont;
    font-size: 16px;
    color: $black;
    background-color: $white;

    .bg {
        background-color: darken($color: $white, $amount: 10);
    }
    .tb-body {
        background-color: darken($color: $white, $amount: 25);
    }
    .Toastify__toast {
        background: $white !important;
    }
    .toastBody {
        font-family: $font-mont;
        color: $white;
        font-size: 0.9rem !important;
    }
    .toastProgress {
        background: $variant !important;
    }
    a {
        color: $black;
    }
}

body[data-theme="dark"] {
    background-color: $dark;
    color: $white;

    .bg {
        background-color: lighten($color: $dark, $amount: 10);
    }
    .tb-body {
        background-color: lighten($color: $dark, $amount: 25);
    }
    .modal-content {
        background: $dark;
    }
    .Toastify__toast {
        background: $dark !important;
    }
    .toastBody {
        color: $white;
    }
    input {
        color: $white;
        background-color: $dark;
        @include bg-transition();
        &::placeholder {
            color: $white;
            opacity: 0.8;
        }
        &::-ms-input-placeholder {
            color: $white;
        }
    }
    button {
        color: $white;
        background-color: $dark;
        @include bg-transition();
    }
    a {
        color: $white;
    }
}

.w-400 {
    width: 400px;
}
.w-half {
    width: 50%;
}
.w-full {
    width: 100%;
}
.h-full {
    height: 100%;
}
.relative {
    position: relative;
}
.flex-row {
    display: flex;
    flex-direction: row;
    column-gap: 1rem;
}
.flex-column {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}
.flex-center {
    justify-content: center;
    align-items: center;
}
.flex-start {
    justify-content: flex-start;
    align-items: center;
}
.flex-end {
    justify-content: flex-end;
    align-items: center;
}
.flex-divide {
    justify-content: space-between;
    align-items: center;
}
.half-gap {
    row-gap: 0.4rem;
    column-gap: 0.4rem;
}
.self-start {
    align-self: flex-start;
}
.self-end {
    align-self: flex-end;
}
a {
    text-decoration: none;
}
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
ul.list {
    row-gap: 0;
    a {
        position: relative;
        color: $white;
        text-decoration: none;
        background-color: rgba($color: $dark, $alpha: 0.8);
        @include bg-transition();

        svg {
            font-size: 1rem;
        }
    }
}
span.function {
    cursor: pointer;
    &:hover {
        text-decoration: underline;
    }
}
.interactive {
    padding: 3px;
    border-radius: 33px;
    @include text-transition();

    svg {
        height: 100%;
        transition: all 0.35s ease;
        -webkit-bg-transition: all 0.35s ease;
        cursor: pointer;
    }
    &:hover {
        svg {
            transition: all 0.35s ease;
            -webkit-bg-transition: all 0.35s ease;
            color: $variant;
        }
    }
}
input {
    height: 35px;
    width: 100%;
    padding: 5px 10px;
    outline: none;
    border: none;
    border-radius: 3px;
    color: $dark;
    @include bg-transition();
    &::placeholder {
        color: $black;
        opacity: 0.8;
        font-size: 14px;
    }
    &::-ms-input-placeholder {
        color: $black;
        opacity: 0.8;
        font-size: 14px;
    }
}

.form-header {
    height: 55px;
    width: 100%;
    padding: 0 2rem;
}

input[type="checkbox"] {
    position: absolute;
    left: 2px;
    padding: 0;
    width: 20px;
}

.checkbox {
    cursor: pointer;
    padding: 0 2rem;
}

button {
    cursor: pointer;
    background-color: rgba($color: $white, $alpha: 0.7);
    width: auto;
    height: 35px;
    border: none;
    border-radius: 3px;
    outline: none;
    padding: 0 10px;
    @include bg-transition();
}

button.active {
    background-color: rgba($color: $variant, $alpha: 0.5) !important;
}

button.icon {
    background: none !important;
    font-size: 1.3rem;
    text-align: center;
    @include text-transition();
    svg {
        height: 100%;
    }
    &:hover {
        svg {
            @include text-transition();
            color: $variant;
        }
    }
}

button.large {
    font-size: 17px;
    height: 50px;
}

.text-center {
    text-align: center;
}

.text-small {
    font-size: 14px;
}

.text-large {
    font-size: 18px;
}

.error {
    color: rgb(226, 50, 50);
}

.padding {
    padding: 1rem 2rem;
}

.dropdown {
    z-index: 1;
    position: absolute;
    top: 45px;
    left: -62px;
    width: 170px;
}

.radius {
    border-radius: 3px;
}

.main-container {
    height: 100%;
    position: relative;
    overflow: hidden;

    .loading {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 100vh;

        .loader,
        .loader:before,
        .loader:after {
            border-radius: 50%;
        }
        .loader {
            color: #ffffff;
            font-size: 11px;
            text-indent: -99999em;
            margin: 55px auto;
            position: relative;
            width: 10em;
            height: 10em;
            box-shadow: inset 0 0 0 1em;
            -webkit-transform: translateZ(0);
            -ms-transform: translateZ(0);
            transform: translateZ(0);
        }
        .loader:before,
        .loader:after {
            position: absolute;
            content: "";
        }
        .loader:before {
            width: 5.2em;
            height: 10.2em;
            background: #1a1e1e;
            border-radius: 10.2em 0 0 10.2em;
            top: -0.1em;
            left: -0.1em;
            -webkit-transform-origin: 5.1em 5.1em;
            transform-origin: 5.1em 5.1em;
            -webkit-animation: load2 2s infinite ease 1.5s;
            animation: load2 2s infinite ease 1.5s;
        }
        .loader:after {
            width: 5.2em;
            height: 10.2em;
            background: #1a1e1e;
            border-radius: 0 10.2em 10.2em 0;
            top: -0.1em;
            left: 4.9em;
            -webkit-transform-origin: 0.1em 5.1em;
            transform-origin: 0.1em 5.1em;
            -webkit-animation: load2 2s infinite ease;
            animation: load2 2s infinite ease;
        }
        @-webkit-keyframes load2 {
            0% {
                -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
            }
            100% {
                -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
            }
        }
        @keyframes load2 {
            0% {
                -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
            }
            100% {
                -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
            }
        }
    }

    nav {
        height: 55px;
        padding: 0 2rem;
        column-gap: 1rem;

        .navbar {
            max-width: 1450px;
            a.logo {
                margin-right: auto;
                color: $variant;
                font-size: 0.6rem;
                text-decoration: none;
                column-gap: 0.5rem;
                @include text-transition();
                img {
                    width: 25px;
                    height: 25px;
                    background-color: $variant;
                }
            }

            .theme {
                position: relative;
                left: 0;
                bottom: 0;
            }

            .nav-list {
                margin-right: 2rem;
                li {
                    height: 100%;
                    a {
                        height: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        text-decoration: none;
                        font-weight: 600;
                        @include text-transition();
                        &:hover {
                            border-bottom: 1px solid $variant;
                        }
                    }
                }
                li.active {
                    border-bottom: 1px solid $variant;
                    &:hover {
                        border-bottom: none;
                    }
                }
            }
        }
    }

    .logo {
        img {
            width: 50px;
            height: 50px;
            background-color: $variant;
        }
    }

    .content-wrapper {
        height: 100%;
        margin: 0 auto;
        max-width: 1450px;

        .content {
            width: calc(100% - 350px);
            height: 100%;
            display: flex;
            margin-bottom: 5rem;
            padding: 2rem;

            .content-main {
                padding-top: 2rem;
                padding-bottom: 2rem;
            }
        }

        .table {
            row-gap: 0.3rem;
            .tb-75 {
                width: 85%;
            }
            .tb-link {
                @include bg-transition();
            }
            .functions {
                width: 15%;
                svg {
                    font-size: 1.3rem;
                }
            }
        }

        .manage {
            position: relative;
            font-size: 0.65rem;
            background-color: rgba($color: $variant, $alpha: 0.1);
            @include bg-transition();
            svg {
                color: $variant;
                position: absolute;
                left: 25%;
                font-size: 1.5rem;
            }
        }

        .sidebar {
            width: 350px;
            height: calc(100vh - 50px);
            position: sticky;
            top: 50px;
        }
    }

    .pager {
        height: 25px;
        ul {
            column-gap: 0.1rem;
            a {
                padding: 0.5rem 0.8rem;
                font-size: 14px;
                @include bg-transition();
            }
        }
    }

    .theme {
        z-index: 777;
        position: fixed;
        bottom: 15px;
        left: 49vw;
        font-size: 1.5rem;
        text-align: center;
    }

    .theme.theme-nav {
        position: relative;
        bottom: 0;
        left: 0;
    }

    .modal-container {
        min-height: 100vh;
        position: fixed;
        top: 0px;
        left: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 23128;
        .modal-overlay {
            width: 100%;
            min-height: 100vh;
            cursor: auto;
            background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyAQMAAAAk8RryAAAABlBMVEUAAAD///+l2Z/dAAAAAnRSTlP/AOW3MEoAAAAOSURBVBiVY2AYBYMJAAABkAAB2POVPwAAAABJRU5ErkJggg==)
                repeat 0 0;
            opacity: 0.6;
        }

        .modal-content {
            position: absolute;
            background: $white;
            min-width: 400px;
            padding: 1.3rem 2rem;
            z-index: 9;
            border: 1px solid rgba($variant, 0.5);

            .heading {
                width: 90%;
                margin: 0 auto;
                font-size: 0.5rem;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 1rem;
                svg {
                    font-size: 1.5rem;
                    color: $white;
                    opacity: 0.6;
                    &:hover {
                        opacity: 1;
                        cursor: pointer;
                    }
                }
            }
            .modal-user {
                row-gap: 1rem;
                .avatar-view {
                    width: 85px !important;
                    height: 85px !important;
                    .avatar-overlay {
                        width: 85px;
                        display: block !important;
                    }
                }
            }
        }
    }
}

@media (min-width: 960px) {
}

@media (max-width: 959px) {
}

@media (max-width: 640px) {
}
